@model IEnumerable<TMSClientApp.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@* 
      @{if(@Tempdata["role""admin")}
      {
<p>
    <a asp-action="Create">Create New</a>
</p>

      }
 *@@{
    if (@ViewBag.msg != null)
    {
        @ViewBag.msg
    }
    else 
    {
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDetails)
            </td>
                        // @{
                        //     if (@ViewBag.role = "admin")
                        //     }
                        //     {
                        //     <p>
                        //         <a asp-action="Create">Create New</a>
                        //     </p>

                            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
                            }
        </tr>
}
    </tbody>
</table>

                }
                }